#navbar .logo {
  float: none;
text-align: center;  
}

#navbar ul , #navbar ul li {
  float: none;
  text-align: center;
}

#navbar ul li a {
  padding:5px;
  text-align: center;
  border-bottom: #444 1px dotted;
  }

#home-info .info-img {
    display: none;
  }

#home-info .info-content {
  width: 100%;
  float:none;
}
.box {
  float: none;
  width: 100%;
}

#about-info .info-left, #about-info .info-right  {
  float: none;
  width: 100%;
}
.l-heading {
  text-align: center;
}

#about-info .info-right {
  margin-top: 30px;
}

#contact-info .box{
  border-bottom: #444 1px dotted;
}
#showcase .showcase-content {
height: 100%;
padding-top: 70px;
padding-bottom: 30px;
}
